body {
  background-color:lightgrey;
  font-family: helvetica, Arial, sans-serif;
  margin-top: 400px;
  margin-bottom: 500px;
  margin-left: 70px;
  margin-right: 70px;
}

h1 {
  font-family:"times new roman", times, serif;
  text-align:center
  color:blue;
}
